@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {

        --gray-0: #f9f9f9;
        --gray-05: #f6f6f6;
        --gray-1: #eee;
        --gray-2: #e6e6e6;
        --gray-3: #eeebeb;
        --gray-4: #bbb;
        --gray-5: #999;
        --gray-6: #000000;
        --gray-65: #555;
        --gray-7: #2c2c2c;
        --gray-8: #252525;
        --gray-9: #1f1f1f;
        --gray-10: #181818;

        --green: #7becbf;
        --orange: #f32f2f;
        --yellow: #fca62a;
        --light-yellow: #f6cd5d;
        --pink: #f57ad0;
        --lavendar: #9b78fa;
        --violet: #8bbbec;
        --blue: #59abf7;
        --purple: #673ece;
        --indigo: #5a43f1;
        --indigo-dark: #4509cf;
        --indigo-light: #969bf6;
        --indigo-muted: #f1f2fd;


        /* Colors */
        --color-background-base: var(--gray-0);
        --color-text-base: var(--gray-10);
        --color-button-bg-base: var(--gray-2);
        --color-button-border-base: var(--gray-5);
        --color-blog-tag-bg-base: var(--gray-3);
        --color-toc-text-base: #596869;

        /* Markdown 渲染的一些颜色 */
        --markdwon-code-backgroud: var(--gray-1);
        --markdwon-code-text: #ea4c9b;
        --markdwon-text-base: var(--gray-10);
        --markdown-divide: #eb2344;
        --markdown-divide-sub: var(--gray-5);
        --markdown-codeblock-color1: #e73119;
        --markdown-codeblock-color2: #8bc34a;
        --markdown-codeblock-color3: #4cb9e8;
        --markdown-codeblock-color4: #9e9d24;
        --markdown-codeblock-color5: #d41800;
        --markdown-codeblock-color6: #7e57c2;
        --markdown-codeblock-color7: #bfbfbf;
        --markdown-blockquote-letf: #86d5a8;
        --markdown-blockquote-text: var(--gray-5);
        --markdown-blockquote-background: var(--gray-3);




        /* Sizes */
        --content-width: 1054px;

        --theme-icon-img: url('../public/assets/icons/sun.png');

        --markdwon-heading-svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='18' aria-hidden='true'%3E%3Cpath fill='%23000' d='m7.775 3.275 1.25-1.25a3.5 3.5 0 1 1 4.95 4.95l-2.5 2.5a3.5 3.5 0 0 1-4.95 0 .751.751 0 0 1 .018-1.042.751.751 0 0 1 1.042-.018 1.998 1.998 0 0 0 2.83 0l2.5-2.5a2.002 2.002 0 0 0-2.83-2.83l-1.25 1.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042Zm-4.69 9.64a1.998 1.998 0 0 0 2.83 0l1.25-1.25a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042l-1.25 1.25a3.5 3.5 0 1 1-4.95-4.95l2.5-2.5a3.5 3.5 0 0 1 4.95 0 .751.751 0 0 1-.018 1.042.751.751 0 0 1-1.042.018 1.998 1.998 0 0 0-2.83 0l-2.5 2.5a1.998 1.998 0 0 0 0 2.83Z'%3E%3C/path%3E%3C/svg%3E");
    }

    .dark {
        /* Colors */
        --color-background-base: var(--gray-8);
        --color-text-base: var(--gray-4);
        --color-button-bg-base: var(--gray-7);
        --color-button-border-base: var(--gray-3);
        --color-blog-tag-bg-base: var(--gray-6);
        --color-toc-text-base: #b1babb;

        /* Markdown 渲染的一些颜色 */
        --markdwon-code-backgroud: #191c21;
        --markdwon-code-text: #ee839c;
        --markdwon-text-base: var(--gray-0);
        --markdown-divide: #eb2344;
        --markdown-divide-sub: var(--gray-4);
        --markdown-codeblock-color1: #9257c2;
        --markdown-codeblock-color2: #8bc34a;
        --markdown-codeblock-color3: #4cb9e8;
        --markdown-codeblock-color4: #9e9d24;
        --markdown-codeblock-color5: #d41800;
        --markdown-codeblock-color6: #4cb9e8;
        --markdown-codeblock-color7: #bfbfbf;
        --markdown-blockquote-letf: #de5555;
        --markdown-blockquote-text: var(--gray-5);
        --markdown-blockquote-background: var(--gray-7);



        --theme-icon-img: url('../public/assets/icons/moon.png');

        --markdwon-heading-svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='18' aria-hidden='true'%3E%3Cpath fill='%23BBBBBB' d='m7.775 3.275 1.25-1.25a3.5 3.5 0 1 1 4.95 4.95l-2.5 2.5a3.5 3.5 0 0 1-4.95 0 .751.751 0 0 1 .018-1.042.751.751 0 0 1 1.042-.018 1.998 1.998 0 0 0 2.83 0l2.5-2.5a2.002 2.002 0 0 0-2.83-2.83l-1.25 1.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042Zm-4.69 9.64a1.998 1.998 0 0 0 2.83 0l1.25-1.25a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042l-1.25 1.25a3.5 3.5 0 1 1-4.95-4.95l2.5-2.5a3.5 3.5 0 0 1 4.95 0 .751.751 0 0 1-.018 1.042.751.751 0 0 1-1.042.018 1.998 1.998 0 0 0-2.83 0l-2.5 2.5a1.998 1.998 0 0 0 0 2.83Z'%3E%3C/path%3E%3C/svg%3E");
    }

    .cyberpunk {
        /* Colors */
        --color-background-base: var(--green);
        --color-text-base: var(--orange);
        --color-button-bg-base: var(--blue);
        --color-button-border-base: var(--purple);
        --color-blog-tag-bg-base: var(--violet);
        --color-toc-text-base: #e3ab5a;


        --markdwon-code-backgroud: #16795d;
        --markdwon-text-base: var(--gray-0);
        --markdown-divide: var(--gray-4);
        --markdown-codeblock-color1: #5f2a8d;
        --markdown-codeblock-color2: #8bc34a;
        --markdown-codeblock-color3: #4cb9e8;
        --markdown-codeblock-color4: #9e9d24;
        --markdown-codeblock-color5: #8a3e2f;
        --markdown-codeblock-color6: #de4141;
        --markdown-codeblock-color7: #e80a0a;
        --markdown-blockquote-letf: #e80a0a;

        --theme-icon-img: url('../public/assets/icons/cyberpunk.png');

        --markdwon-heading-svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='18' aria-hidden='true'%3E%3Cpath fill='%23F32F2F' d='m7.775 3.275 1.25-1.25a3.5 3.5 0 1 1 4.95 4.95l-2.5 2.5a3.5 3.5 0 0 1-4.95 0 .751.751 0 0 1 .018-1.042.751.751 0 0 1 1.042-.018 1.998 1.998 0 0 0 2.83 0l2.5-2.5a2.002 2.002 0 0 0-2.83-2.83l-1.25 1.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042Zm-4.69 9.64a1.998 1.998 0 0 0 2.83 0l1.25-1.25a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042l-1.25 1.25a3.5 3.5 0 1 1-4.95-4.95l2.5-2.5a3.5 3.5 0 0 1 4.95 0 .751.751 0 0 1-.018 1.042.751.751 0 0 1-1.042.018 1.998 1.998 0 0 0-2.83 0l-2.5 2.5a1.998 1.998 0 0 0 0 2.83Z'%3E%3C/path%3E%3C/svg%3E");
    }
}

.theme-toggle-button img{
    content: var(--theme-icon-img);
}

/* Texts */
h1, h2, h3, h4, h5, p, li, ul, span {
  color: var(--color-text-base);
}


/* Containers */
.container {
    max-width: var(--content-width);
    margin-left: auto;
    margin-right: auto;
    padding: 8rem 1rem 0;
}

/* section header */
.section .section-header {
    padding-bottom: 20px;
    padding-top: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
    place-content: space-between;

}

.section .section-header .title {
    font-size: 2rem;
    font-weight: 600;
}

.section .section-header .viewall {
    border: 1px solid;
    border-radius: 95px 155px 148px 103px / 48px 95px 130px 203px;
    padding: 8px;
    border-color: var(--color-button-border-base);
    background-color: var(--color-button-bg-base);
}

.blog-tag {
    background: var(--color-blog-tag-bg-base);
}